.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .circle:hover {
    transform: scale(1.1);
  }